<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/mm" method="post">
        <input type="text" placeholder="请输入用户名" name="user"/>
        <input type="password" placeholder="请输入密码" name="pass"/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>